<div class="page fill-space">
  <div class="workspace fill-space">

    <!--Controls-->
    <div class="controls-container">
      <form [formGroup]="formGroup">
        <!--Example for: https://www.npmjs.com/package/@angular-material-components/color-picker-->
        <div>
          <label>Header Background:</label>
          <mat-form-field>
            <input matInput [ngxMatColorPicker]="headerBackgroundPicker" formControlName="headerBackgroundColor">
            <ngx-mat-color-toggle matSuffix [for]="headerBackgroundPicker"></ngx-mat-color-toggle>
            <!--Currently getting an error about a missing "toHexString" function, using touch UI at least makes it immediately usable. Works well enough for demo purposes.-->
            <ngx-mat-color-picker #headerBackgroundPicker></ngx-mat-color-picker>
          </mat-form-field>
        </div>
        <!--Example for: https://ngx-colors.web.app/overview-->
        <div>
          <label>Header Text (currently only hooked up through bubble picker):</label>
          <ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" formControlName="headerTextColor"></ngx-colors>
          <input matInput type="text" [value]="headerTextColorFormControl.value"/>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Body Background *</mat-label>
            <input matInput [ngxMatColorPicker]="bodyBackgroundPicker" formControlName="bodyBackgroundColor">
            <!-- <ngx-mat-color-toggle matPrefix [for]="bodyBackgroundPicker">
              <!--Custom icons are only supported in version 16.x+ :/--
              <mat-icon ngxMatColorpickerToggleIcon>home</mat-icon>
            </ngx-mat-color-toggle> -->
            <button #bodyBackgroundColorButton matPrefix (click)="openSwatch(bodyBackgroundPicker)" class="swatch-button"></button>
            <button matSuffix mat-icon-button (click)="clearColor('bodyBackgroundColor')">
              <mat-icon>close</mat-icon>
            </button>
            <!--Currently getting an error about a missing "toHexString" function, using touch UI at least makes it immediately usable. Works well enough for demo purposes.-->
            <ngx-mat-color-picker #bodyBackgroundPicker></ngx-mat-color-picker>
          </mat-form-field>
        </div>
        <div>
          <label>Button Background:</label>
          <input type="text" formControlName='buttonBackgroundColor'/>
        </div>
        <div>
          <label>Button Text:</label>
          <input type="text" formControlName='buttonTextColor'/>
        </div>
      </form>

      <button (click)="logValues()">Log Values</button>
    </div>

    <!--Preview-->
    <div class="preview-container fill-space">
      <div class="preview">
        <div #header>
          <h1 #headerText>Header</h1>
        </div>
        <div #bodyContent>
          <button #button>
            Press Me
          </button>
        </div>
      </div>
    </div>

  </div>
</div>