.workspace {
    display: flex;
    gap: 50px;
}

.controls-container {
    padding: 5px;

    & > form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & .swatch-button {
        height: 2em;
        width: 2em;
        margin: 5px;
        border: 2px solid black;
        cursor: pointer;
    }
}

.preview-container {
    padding: 10px;
    background-color: lightgray;
}

.preview {
    border: 2px solid black;
    background-color: white;
}

// Layout
.fill-space {
    width: 100%;
    height: 100%;
}