<div class="page fill-space">
  <div class="workspace fill-space">

    <!--Controls-->
    <div class="controls-container">
      <form [formGroup]="formGroup">
        <div>
          <label>Header Background:</label>
          <input type="text" formControlName='headerBackgroundColor'/>
        </div>
        <div>
          <label>Header Text:</label>
          <input type="text" formControlName='headerTextColor'/>
        </div>
        <div>
          <label>Body Background:</label>
          <input type="text" formControlName='bodyBackgroundColor'/>
        </div>
        <div>
          <label>Button Background:</label>
          <input type="text" formControlName='buttonBackgroundColor'/>
        </div>
        <div>
          <label>Button Text:</label>
          <input type="text" formControlName='buttonTextColor'/>
        </div>
      </form>
    </div>

    <!--Preview-->
    <div class="preview-container">
      <div class="preview">
        <div id="header">
          <h1 id="header-text">Header</h1>
        </div>
        <div id="body-content">
          <button id="button">
            Press Me
          </button>
        </div>
      </div>
    </div>

  </div>
</div>